.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
}

.nav-items>ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.nav-items>ul>li {
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.restaurant-card {
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    margin: 16px;
}

.restaurant-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.search-container {
    margin: 20px;
    text-align: center;
}

.restaurant-logo {
    width: 100%;
    border-radius: 8px;
    height: 150px;
}
